<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" placeholder="Title" name="listing[title]">
        <br><br>
        <textarea placeholder="Description" name="listing[description]">
        </textarea>
        <br><br>
        <input type="text" placeholder="Image URL/Link" name="listing[image]">
        <br><br>
        <input type="number" placeholder="Price" name="listing[price]">
        <br><br>
        <input type="text" placeholder="Location" name="listing[location]">
        <br><br>
        <input type="text" placeholder="Country" name="listing[country]">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>